<div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let review of movieReviews; let i = index">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        [attr.data-bs-target]="'#collapseOne'+i" aria-expanded="true" 
        [attr.aria-controls]="'collapseOne'+i">
          <i class="bi bi-star"></i> <b> {{review.rate}}/10</b>  Review #{{i+1}}
        </button>
      </h2>
      <div id="collapseOne{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{review.review}}</p>
          <p class="blockquote-footer">
            {{review.author}}
          </p>
          <p>
            <i>{{review.usefulCount}} out of {{review.totalCount}} found this useful </i>
          </p>
        </div>
      </div>
    </div>
</div>
